@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
body{
  background-color: black;
  color: rgb(102, 255, 217);
  font-family: 'Noto Serif KR', serif;
  font-size: 2vw;
}
      div.row {
        display: flex;
        height: auto;
      }
      div.left {
        flex: 1;
        height: auto;
      }
      div.center {
        flex: 1;
        height: auto;
      }
      div.right {
        flex: 1;
        height: auto;
      }
div.note{
  color: black;
  background-color: rgb(103, 159, 164);
}
#svgelem {
   margin-left:auto;
   margin-right:auto;
   display:block;
}
::selection { 
  color: black;
  background: rgb(248, 220, 9);
}
a:link{
  color: rgb(255, 121, 77);
}
a:visited{
  color: rgb(255, 121, 77);
}
a:hover{
  color: rgb(255, 121, 77);
}
a:active{
  color: rgb(255, 121, 77);
}

mark{
  color: rgb(23, 51, 165);
  background: rgb(248, 220, 9);
}
#red{
  color: white;
  background: rgb(216, 49, 49);
}
#blue{
  font-family: 'Source Code Pro', monospace; 
  color: rgb(248, 220, 9);
  background: rgb(23, 51, 165);
}
hr{
  border: 1px solid #ff794d !important;
}
em{
  color: #ff5050;
  text-decoration: underline;
}
strong{
  color: #ff5050;
  text-decoration: underline;
}
u{
  color: #ff5050;
  text-decoration: underline;
}
